@model IEnumerable<Notebook.Web.Models.NoteViewModel>

@{
    ViewBag.Title = "Index";
}



<div>

    <div class="topic">
        <h3>@Html.ActionLink("New Topic", "CreateTopic")</h3>
        <ul>
            @foreach(var item in ViewBag.Topic)
            {
                <li>@item.Name</li>
            }
        </ul>
    </div>

    <div class="noteTable">
        <p>
            @Html.ActionLink("Create New", "CreateNote")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Header)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TopicId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Importance)
                </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importance)
                </td>
                <td>
                    @Html.ActionLink("Details", "DetailsNote", new { id = item.Id })
                </td>
            </tr>
            }

        </table>
    </div>
</div>
